@model IEnumerable<SchoolPortal.Web.Models.Entities.ContentPage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i>Page Manager </h3>

                <div class="box-tools">
                    @Html.ActionLink("New Page", "Create", null, new { @class = "btn btn-primary", style = "padding: 7px;" })
                </div>
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-hover" border="1">

                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryPage.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SortOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShowInHome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Publish)
                            </th>

                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryPage.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SortOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShowInHome)
                                </td>
                                <td>
                                    @if (item.Publish == SchoolPortal.Web.Models.Entities.PagePublish.Publish)
                                    {
                                    <span>Publish</span>


                                    }
                                    else
                                    {
                                    <span>Unpublish</span>
                                    }
                                </td>
                                <td>

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @if (item.Publish == SchoolPortal.Web.Models.Entities.PagePublish.Publish)
                                                {
                                                    @Html.ActionLink("Unpublish", "UpdatePublishPage", new { id = item.Id }, null)


                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Publish", "UpdatePublishPage", new { id = item.Id }, null)

                                                }
                                            </li>
                                                <li class="text-color-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, null)</li>
                                                <li class="text-color-success">@Html.ActionLink("Details", "Details", new { id = item.Id }, null)</li>

                                                <li class="text-color-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, null)</li>

                                            </ul>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>




@section Style {

    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

}

@section Scripts2 {
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}
