
@{
    ViewBag.Title = "Compose SMS";
}



@section Styles{
    <link href="http://v1.exwhyzee.ng/Content/multiple-select.css" rel="stylesheet" />

    <link href="http://v1.exwhyzee.ng/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">

        @if (TempData["error"] != null)
        {
            <div class="alert alert-error alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> @TempData["error"]
            </div>
        }
        @if (TempData["Succes"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> @TempData["Succes"]
            </div>
        }


        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Compose SMS</h3>
            </div>
            <div class="box-body">
                <div class="col-md-8 col-md-offset-2">
                    @using (Html.BeginForm())
                    {
                        @*@Html.AntiForgeryToken()*@

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Display Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Editor("SenderId", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Recipients (" + TempData["countnub"] + ")", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <textarea name="Recipients" rows="7" class="form-control">@TempData["SmsNumbers"]</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Message", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    <textarea name="Message" rows="7" class="form-control"></textarea>
                                    <p id="count"></p>
                                    <p id="page"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("SendOption", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <select id="SendOption" name="SendOption" class="form-control">
                                        <option value="SendNow">Send Now</option>
                                        @*<option value="SendLater">Send Later</option>
                                        <option value="SaveDraft">Save as Draft</option>*@
                                    </select>
                                </div>
                            </div>
                            @*<div class="sdate" id="sdate">
                                <div class="form-group">
                                    @Html.Label("ScheduleDate", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" name="ScheduleDate" placeholder="Select Date and Time" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Send Message" class="btn btn-primary" id="myButton" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
        

    <script src="http://v1.exwhyzee.ng/Content/multiple-select.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
    <script>

        $(function () {

            $('#SendOption').change(function () {
                $('#sdate').hide();
                if (this.options[this.selectedIndex].value == 'SendLater') {
                    $('#sdate').show();
                }
            });
        });
    </script>

    <script>
        $("#Content").keyup(function () {
            // $("#count").text("Characters Type:" +$(this).val().length +"; Characters left: " + (320 - $(this).val().length));
            //$("#count").text("Characters left: " + (500 - $(this).val().length));
            if (($(this).val().length) <= 160) {
                $("#page").text("Page(s): 1")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: " + (160 - $(this).val().length));
            }
            else if (($(this).val().length) > 160 && ($(this).val().length) < 319) {
                $("#page").text("Page(s): 2")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: " + (320 - $(this).val().length));
            }
            else if (($(this).val().length) > 320 && ($(this).val().length) < 479) {
                $("#page").text("Page(s): 3")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: " + (480 - $(this).val().length));
            }
            else if (($(this).val().length) > 480 && ($(this).val().length) < 639) {
                $("#page").text("Page(s): 4")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: " + (640 - $(this).val().length));
            }
            else if (($(this).val().length) > 640 && ($(this).val().length) < 799) {
                $("#page").text("Page(s): 5")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: " + (800 - $(this).val().length));
            }
            else if (($(this).val().length) > 800 && ($(this).val().length) < 959) {
                $("#page").text("Page(s): 6")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: " + (960 - $(this).val().length));
            }
            else {
                $("#page").text("Page(s): More than 6")
                $("#count").text("Characters Type:" + $(this).val().length + "; Characters left: Text too long. Consider sending in batches.");

            }
        });

        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY hh:mm'
            });
        });
    </script>

}
