@using SchoolPortal.Web.Models
@model LoginViewModel
@{
    /**/

    /**/

    ViewBag.Title = "Log in";
    //Layout = "~/Views/Shared/_LoginView.cshtml";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Login.cshtml";

}
<div class="login-box animated fadeIn" style="margin-top:1.4em;padding:1em 1em;border-radius:0;">
    <h2 style="padding:0 0 0 0;text-align:center;font-style:italic;">Welcome Back</h2>
    <h4 style="padding:0 0 0 0;text-align:center;">Login</h4>



    @if (TempData["error"] != null)
    {

        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
            @TempData["error"]
        </div>

    }
    @using (Html.BeginForm("Login", "XYZ", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "" }))
    {
        @*@Html.AntiForgeryToken()*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <label class="control-label" style="text-align:left !important;">Username</label>

        <div class="">
            <input type="text" name="Username" placeholder="Username" required="" class="form-control">
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
        <br />


        <label class="control-label" style="text-align:left !important;">Password</label>

        <div class="">

            <input name="Password" type="password" placeholder="Password" required="" class="form-control">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <br />

        <button type="submit" class="btn btn-primary btn-md hvr-pulse-grow hvr-bounce-to-bottom" data-toggle="">Sign In</button>
        <p>
            If you dont know your username or password.
            <a href="@Url.Action("FindProfile", "Account")" class="">Click Here</a>
        </p>

        <br />

    }

</div>
@section Scripts {
        @**@

}
