
@model PagedList.IPagedList<SchoolPortal.Web.Models.Entities.StaffProfile>
@using PagedList.Mvc;
<link href="http://v1.exwhyzee.ng/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "All Staff";
    //var roles = ((string[])ViewBag.Roles).OrderBy(x => x);
}


<div class="row">
    <div class="col-xs-12">
        <div class="box panel-primary">

            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-fw fa-user-plus"></i> Staff Management (@Model.Count() / @ViewBag.countStaff)</h3>
                <span class=" pull-right">
                    @Html.ActionLink("Reset User Password", "ResetUserPassword", "XYZ", new { area = "Account" }, new { @class = "btn btn-danger", style = "border-radius:0px !important;" })
                </span>
            </div>
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>@TempData["success"]</strong>
                </div>
            }

            <div class="row">

                <div class="col-md-6" style="padding-left:0px;">
                    @using (Html.BeginForm())
                    {

                        <div class="input-group" style="margin-left:10px;">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" value="@ViewBag.CurrentFilter">Search</button>
                            </div>
                            <!-- /btn-group -->
                            <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search...">
                        </div>

                    }
                </div>
                <div class="col-md-6" style="padding-right:5px;">
                    <div class="btn-group pull-right">
                        @Html.ActionLink("New Staff", "NewStaff", null, new { @class = "btn btn-primary" })

                    </div>
                </div>

            </div>

            <br />
            <!-- /.box-header -->
            <div class="box-body table-responsive border-table">


                <br />

                <table border="1" class="table table-bordered table-hover">

                    <tr>
                        <th>
                            FULL NAME
                        </th>
                        <th>
                            USERNAME
                        </th>
                        <th>
                            ID NUMBER
                        </th>
                        <th>
                            CREATION DATE
                        </th>
                        <th>
                            STATUS
                        </th>
                        <th>
                            REGISTERED BY
                        </th>

                        <th>ACTION</th>
                    </tr>

                    @foreach (var item in Model.OrderByDescending(x=>x.user.Surname))
                    {
                        <tr>
                            <td>
                                @item.user.Surname @item.user.FirstName @item.user.OtherName
                            </td>

                            <td>
                                @item.user.UserName
                            </td>
                            <td>
                                @item.StaffRegistrationId
                            </td>
                            <td>
                                @item.user.DateRegistered
                            </td>
                            <td>
                                @if (item.user.Status == SchoolPortal.Web.Models.Entities.EntityStatus.Active)
                                {
                                    <span class="bg-success">@Html.DisplayFor(modelItem => item.user.Status)</span>
                                }
                                else if (item.user.Status == SchoolPortal.Web.Models.Entities.EntityStatus.Expelled)
                                {
                                    <span class="bg-danger">@Html.DisplayFor(modelItem => item.user.Status)</span>
                                }
                                else if (item.user.Status == SchoolPortal.Web.Models.Entities.EntityStatus.Suspeneded)
                                {
                                    <span class="bg-warning">@Html.DisplayFor(modelItem => item.user.Status)</span>
                                }
                                else if (item.user.Status == SchoolPortal.Web.Models.Entities.EntityStatus.Archived)
                                {
                                    <span class="bg-primary">@Html.DisplayFor(modelItem => item.user.Status)</span>
                                }
                                else if (item.user.Status == SchoolPortal.Web.Models.Entities.EntityStatus.Withdrawn)
                                {
                                    <span class="bg-warning">@Html.DisplayFor(modelItem => item.user.Status)</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.user.Status)
                                }
                            </td>
                            <td>
                                @item.user.RegisteredBy
                            </td>

                            <td>
                               
                                
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">

                                        <li> @Html.ActionLink("Edit", "EditStaff", "UserManagers", new { id = item.Id }, new { @class = " " })</li>
                                        <li> @Html.ActionLink("Details", "Details", "StaffProfile", new { id = item.Id }, new { @class = " " })</li>
                                        <li>@Html.ActionLink("Change Status", "ChangeStatus", new { id = item.UserId }, new { @class = " " })</li>
                                    </ul>
                                            </div>

                                </td>
                        </tr>
                    }
                </table>
                <div class="container text-center page" style="margin-left:auto;margin-right:auto;">

                    <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

                    @Html.PagedListPager(Model, page => Url.Action("Staff",
    new { page }))
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>