@model SchoolPortal.Web.Models.Entities.Setting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolInitials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolInitials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhoneNumber)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.SmsUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmsUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmsPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmsPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionByTrial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionByTrial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JssGradingOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JssGradingOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SssGradingOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SssGradingOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowPositionOnResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowPositionOnResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowCumulativeResultForThirdTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowCumulativeResultForThirdTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseCumulativePositionForThirdTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseCumulativePositionForThirdTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SslEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SslEnabled)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
