@model SchoolPortal.Web.Models.Entities.ClassLevel
@using SchoolPortal.Web.Areas.Service
@{
    ViewBag.Title = "Edit Class";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Class</h3>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @Html.Raw(TempData["error"])
                    </div>
                }
            </div>
            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken()*@

        <div class="box-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.ClassName, new { htmlAttributes = new { @class = "form-control", id = "upper", onkeyup = "myUppercase()" } })
                    @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Form Teacher", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control select" })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passmark, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Passmark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Passmark, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PromotionByTrial, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.PromotionByTrial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PromotionByTrial, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (GeneralService.EnabledProjectScore() == true)
            {
                <div class="form-group">
                    @Html.Label("Project Score", htmlAttributes: new { @class = "control-label" })
                    @*@Html.LabelFor(model => model.TestScore, htmlAttributes: new { @class = "control-label" })*@
                    <div class="">
                        @Html.EditorFor(model => model.Project, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            @if (GeneralService.EnabledTestScore() == true)
            {
                <div class="form-group">
                    @Html.Label("Test or Assessement Score", htmlAttributes: new { @class = "control-label" })
                    @*@Html.LabelFor(model => model.TestScore, htmlAttributes: new { @class = "control-label" })*@
                    <div class="">
                        @Html.EditorFor(model => model.AccessmentScore, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AccessmentScore, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            @if (GeneralService.EnabledTestScore2() == true)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.TestScore2, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.TestScore2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TestScore2, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            @if (GeneralService.EnabledClassExerciseScore() == true)
            {

                <div class="form-group">
                    @Html.LabelFor(model => model.ClassExercise, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.ClassExercise, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClassExercise, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            @if (GeneralService.EnabledAssessmentScore() == true)
            {

                <div class="form-group">
                    @Html.Label("Assessement Score", htmlAttributes: new { @class = "control-label" })
                    @*@Html.LabelFor(model => model.Assessment, htmlAttributes: new { @class = "control-label" })*@
                    <div class="">
                        @Html.EditorFor(model => model.Assessment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Assessment, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            @if (GeneralService.EnabledExamScore() == true)
            {

                <div class="form-group">
                    @Html.LabelFor(model => model.ExamScore, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.ExamScore, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExamScore, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            @*<div class="form-group">
            @Html.LabelFor(model => model.AccessmentScore, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.AccessmentScore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccessmentScore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExamScore, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.ExamScore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExamScore, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ShowPositionOnClassResult, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    <div class="">
                        @Html.EditorFor(model => model.ShowPositionOnClassResult)
                        @Html.ValidationMessageFor(model => model.ShowPositionOnClassResult, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ShowAverageOverPositionInClass, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    <div class="">
                        @Html.EditorFor(model => model.ShowAverageOverPositionInClass)
                        @Html.ValidationMessageFor(model => model.ShowAverageOverPositionInClass, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("School Fees", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.SchoolFee, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SchoolFee, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubjectSettings, htmlAttributes: new { @class = "control-label" })

                @Html.CheckBoxFor(model => model.SubjectSettings, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.SubjectSettings, "", new { @class = "text-danger" })

            </div>


            @if (User.IsInRole("SuperAdmin"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.SortByOrder, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.SortByOrder)
                        @Html.ValidationMessageFor(model => model.SortByOrder, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.SortByOrder)

            }

           
                <div class="form-group">
                    @Html.LabelFor(model => model.ShowClass, htmlAttributes: new { @class = "control-label" })

                    @Html.CheckBoxFor(model => model.ShowClass, new { @checked = "checked" })
                    @Html.ValidationMessageFor(model => model.ShowClass, "", new { @class = "text-danger" })

                </div>
             

        </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                </div>

            }
        </div>

    </div>
    <div class="col-md-3"></div>

</div>



@section Scripts {
        
}
