@model SchoolPortal.Web.Models.Entities.Finance

@{
    ViewBag.Title = "Create";
}
<div class="row">
    <!-- left column -->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">New Income (Cash Flow IN)</h3>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["error"]<br />
                        @TempData["error1"]
                    </div>
                }
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@Html.Raw(TempData["success"])</strong>
                    </div>
                }
            </div>

            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken()*@

        <div class="box-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>





            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

        
            <div class="form-group">
                @Html.LabelFor(model => model.FinanceSource, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EnumDropDownListFor(model => model.FinanceSource, "Choose Source", new {  @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.FinanceSource, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.RegistrationNumber, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdminNote, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.AdminNote, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdminNote, "", new { @class = "text-danger" })
                </div>
            </div>



        </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                </div>

            }
        </div>

    </div>
    <div class="col-md-2"></div>

</div>

@using SchoolPortal.Web.Areas.Service
@{

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    Logger.log(User.Identity.Name, url.ToString());

}
@section Scripts {
        

 

    <script src="http://v1.exwhyzee.ng/admin/main.js"></script>
}


