@model SchoolPortal.Web.Models.UI.SitePageCategory
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3>Site Page Category</h3>
            </div>
            <div class="box-body">
                <div>
                    <h4>SitePageCategory</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Show)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Show)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>