@model IEnumerable<SchoolPortal.Web.Models.Dtos.ClassLevelListDto>
@using SchoolPortal.Web.Areas.Service
@{
    ViewBag.Title = "Result Summary";
    int summary = 0;
    int sno = 0;

    //Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title">
                    <i class="fa fa-fw fa-file-text-o"></i> All Result by Class

                    (Total Available results)
                </h3>
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["error"]
                    </div>
                }

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <h3 class="box-title"></h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" border="1">
                        <tr>
                            <th>S/N</th>
                            <th>Class</th>
                            <th>Available</th>

                        </tr>
                        @foreach (var item in Model)
                        {

                            <tr>
                                @{ sno++;

                                    summary += GeneralService.ResultCount(item.Id);
                                }

                                <td>@sno</td>
                                <td>@item.ClassLevelName</td>
                                <td>@GeneralService.ResultCount(item.Id)</td>


                            </tr>




                        }
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                @summary
                            </th>
                        </tr>
                    </table>
                </div>
                <br clear="all" style="page-break-before:always !important;" />
            </div>
        </div>
        <div class="text-center">
            <button onclick="myFunction()" style="text-align:center;" class="btn btn-primary">Print</button>

        </div>
        <script type="text/javascript">

            //function printSelection(node) {

            //    var content = node.innerHTML
            //    var pwin = window.open('', 'print_content', 'width=800,height=500');

            //    pwin.document.open();
            //    pwin.document.write('<html><body onload="window.print()">' + content + '</body></html>');
            //    pwin.document.close();

            //    setTimeout(function () { pwin.close(); }, 1000);

            //}


            function myFunction() {
                window.print();
            }


        </script>
    </div>
</div>


