@model IEnumerable<SchoolPortal.Web.Models.Dtos.EnrolledSubjectDto>
@using SchoolPortal.Web.Areas.Service
@{
    ViewBag.Title = "Score Sheet";
    int n = 0;
}


<div class="row noprint">
    <!-- left column -->

    <div class="col-md-12 noprint">
        <!-- general form elements -->
        <div class="box box-primary noprint">
            <div class="box-header with-border noprint">
                <h3 class="box-title">Assessment And Exam Score Sheet</h3>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["error"]
                    </div>
                }
            </div>
            @using (Html.BeginForm("ScoreSheet", "Panel", new { area = "Staff" }, FormMethod.Post))
            {
                @*@Html.AntiForgeryToken()*@

                <div class="box-body noprint">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Class</label>
                                <div class="">
                                    @Html.DropDownList("ClassL", ViewBag.ClassL as List<SelectListItem>, "Select a class", new { id = "classesId", @class = "form-control" })
                                    @* @Html.DropDownList("ClassLevelId", null, "Select a class", htmlAttributes: new { @class = "form-control" })*@

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Subject</label>
                                <div class="">
                                    <select id="Subject" name="subId" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box-footer noprint">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Get Score Sheet</button>
                            @Html.ActionLink("Download Empty Scoresheet", "EmptyScoreSheet", null, new { @class = "btn btn-success" })
                            <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                        </div>
                    </div>

                </div>

            }
        </div>



    </div>
</div>
<style>
    #studentRecord tr, td, th {
        padding: 2px !important;
    }
</style>
@if (Model != null)
{


    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="padding:7px;">
                <div class="box-header noprint" style="margin-bottom:15px;">
                    <div class="pull-right">
                        @using (Html.BeginForm("ReloadScoreSheet", "Panel", new { area = "Staff", id = ViewBag.SubjectId, sessionId = ViewBag.SessionId, classId = ViewBag.ClassLevelId }, FormMethod.Post, null))
                        {

                            <input type="submit" value="Reload" class="btn btn-sm btn-danger" />
                            <button onclick="window.print()" class="btn btn-sm btn-primary">Print Result Sheet</button>

                        }
                    </div>

                    <h3 class="box-title noprint" style="text-transform:uppercase;"><i class="fa fa-fw fa-users"></i> Score Sheet</h3>

                </div>

                <div class="box-header noprint">
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                        <span class="text-primary" style="text-transform:uppercase;"> @GeneralService.StudentorPupil()<span>'s</span> LIST:</span> If there are no students on this List, please click on the red <span class="text-primary">"RELOAD STUDENTS"</span> button above to load students.

                    </div>
                    @if (TempData["msg"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            @TempData["msg"]
                        </div>
                    }


                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="box-body table-responsive">
                            <table class="table table-success table-bordered" style="background-color:#3c8dbc; color:#ffffff;">
                                <tr>
                                    <th colspan="2" class="text-center">CLASS DETAILS</th>

                                </tr>
                                <tr>
                                    <th>Class</th>
                                    <td>@ViewBag.Class</td>
                                </tr>
                                <tr>
                                    <th>Teacher</th>
                                    <td>@ViewBag.subteacher</td>
                                </tr>
                                <tr>
                                    <th>Subject</th>
                                    <td>@ViewBag.Subject</td>
                                </tr>
                                <tr>
                                    <th>Session</th>
                                    <td>@ViewBag.Session</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->

                <div id="" class="box-body table-responsive no-padding">


                    <table id="" class="table table-hover">
                        <tr>
                            @if (GeneralService.IsPrintOutThree() == true)
                            {
                                <th colspan="9">
                                    @*@Html.Raw(TempData["setting"])*@
                                    @Html.Raw(TempData["setting"])
                                    @Html.Raw(TempData["setting1"])
                                    @Html.Raw(TempData["setting2"])
                                    @Html.Raw(TempData["setting3"])
                                    @Html.Raw(TempData["setting4"])
                                    @Html.Raw(TempData["setting5"])
                                    @Html.Raw(TempData["setting6"])
                                </th>
                            }
                            else
                            {
                                <th colspan="8">
                                    @*@Html.Raw(TempData["setting"])*@
                                    @Html.Raw(TempData["setting"])
                                    @Html.Raw(TempData["setting1"])
                                    @Html.Raw(TempData["setting2"])
                                    @Html.Raw(TempData["setting3"])
                                    @Html.Raw(TempData["setting4"])
                                    @Html.Raw(TempData["setting5"])
                                    @Html.Raw(TempData["setting6"])
                                </th>
                            }
                        </tr>
                        <tr>
                            <th> S/N</th>
                            <th>
                                FULL NAME
                            </th>

                            <th>
                                REG. NO.
                            </th>
                            @if (GeneralService.IsPrintOutThree() == true)
                            {
                                <th>
                                    PROJECT
                                </th>
                                <th>
                                    CLASS EXCERCISE
                                </th>
                                <th>
                                    1ST TEST
                                </th>
                                <th>
                                    2ND TEST
                                </th>
                                <th>
                                    ASSESSMENT
                                </th>
                                <th>
                                    EXAM SCORE
                                </th>
                            }
                            else
                            {
                                if (GeneralService.EnabledProjectScore() == true)
                                {
                                    <th>
                                        PROJECT
                                    </th>
                                }
                                if (GeneralService.EnabledTestScore() == true)
                                {
                                    <th>
                                        1ST TEST
                                    </th>
                                }

                                if (GeneralService.EnabledTestScore2() == true)
                                {
                                    <th>
                                        2ND TEST
                                    </th>
                                }

                                if (GeneralService.EnabledClassExerciseScore() == true)
                                {

                                    <th>
                                        CLASS EXERCISE
                                    </th>
                                }

                                if (GeneralService.EnabledAssessmentScore() == true)
                                {

                                    <th>
                                        ASSESSMENT
                                    </th>
                                }

                                if (GeneralService.EnabledExamScore() == true)
                                {

                                    <th>
                                        EXAM SCORE
                                    </th>
                                }
                                @*<th>
                                        C.A
                                    </th>
                                    <th>
                                        EXAM
                                    </th>*@
                            }


                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @{n++;}
                                <td>@n</td>
                                <td>
                                    @item.FullName
                                </td>


                                <td>
                                    @GeneralService.RegNumByEnrolId(item.Enrollments.StudentProfileId)
                                </td>
                                @if (GeneralService.IsPrintOutThree() == true)
                                {
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                }
                                else
                                {
                                    if (GeneralService.EnabledProjectScore() == true)
                                    {
                                        <td class=""></td>
                                    }
                                    if (GeneralService.EnabledTestScore() == true)
                                    {
                                        <td class=""></td>
                                    }

                                    if (GeneralService.EnabledTestScore2() == true)
                                    {
                                        <td class=""></td>
                                    }

                                    if (GeneralService.EnabledClassExerciseScore() == true)
                                    {

                                        <td class=""></td>
                                    }

                                    if (GeneralService.EnabledAssessmentScore() == true)
                                    {

                                        <td class=""></td>
                                    }

                                    if (GeneralService.EnabledExamScore() == true)
                                    {

                                        <td class=""></td>
                                    }
                                }


                            </tr>
                        }

                    </table>

                    @*<input type="button" id="btnExport" value=" Export Table data into Excel " />*@
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

}


@section Style {

    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">


}



@section Scripts {
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    @*<script src="http://v1.exwhyzee.ng/Content/angular/json2.js"></script>*@
    <script type="text/javascript">


    </script>

    <script>
        $("#btnExport").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
            e.preventDefault();
        });
        $("[id$=myButtonControlID]").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=divTableDataHolder]').html()));

            this.download = name;
            return true;
            e.preventDefault();
        });
    </script>
    <script type="text/jscript">
        $(function () {
            $('#classesId').change(function () {
                $.getJSON('/EventsControl/SubjectByClass/' + $('#classesId').val(), function (data) {
                    var items = '<option>Select a Subject</option>';
                    console.log(data);
                    console.log("check");
                    $.each(data, function (i, local) {
                        items += "<option value='" + local.Value + "'>" + local.Text + "</option>";
                    });
                    $('#Subject').html(items);
                    console.log(items);
                    console.log("check 2");
                });
            });
        });
    </script>
}



@section Scripts2 {
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
    <script>
        function sortTable() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("studentRecord");
            switching = true;
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[0];
                    // Check if the two rows should switch place:
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
    <script type="text/javascript">
        $(document).on("click", ".modalLink", function () {

            var sId = $(event.relatedTarget).data('StudentId'); //camelCase, you have - separated data attr
            $(this).find('input[type="hidden"]').val(sId);
            $('#StudentId').val($(this).data('id'));
            $('#subId').val($(this).data('sub-id'));
            $('#sessionId').val($(this).data('sess-id'));

            $(".modal-body .hiddenid").val(passedID);
        });

        function myFunction() {
            window.print();
        }
    </script>


}




