@model IEnumerable<SchoolPortal.Web.Models.Dtos.EnrolledStudentsByClassDto>
@using SchoolPortal.Web.Areas.Service
@{
    ViewBag.Title = GeneralService.StudentorPupil()+"s In Class";
    int sn = 0;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <div class="pull-right">
                    @Html.ActionLink("Class List", "ClassLevel", null, new { @class="btn btn-primary"})
                </div>
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> @GeneralService.StudentorPupil()<span>s</span> In Class</h3>
                
            </div>
            <div class="box-body">
                @if (TempData["Report"] != null)
                {
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@TempData["Report"]</strong>
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>@TempData["Error"]</strong>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="box-body table-responsive">
                        <table class="table table-success table-bordered" style="background-color:#3c8dbc; color:#ffffff;">
                            <tr>
                                <th colspan="2">Class Info</th>

                            </tr>
                            <tr>
                                <th>Class</th>
                                <td>@ViewBag.classname</td>
                            </tr>
                            <tr>
                                <th>Number of @GeneralService.StudentorPupil()<span>s</span></th>
                                <td>@Model.Count()</td>
                            </tr>
                            <tr>
                                <th>Session</th>
                                <td>@ViewBag.session</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">

                    <tr>
                        <th>S/N</th>
                        <th>
                            NAME
                        </th>
                        <th>
                            REG. NUMBER
                        </th>
                       
                        <th>
                            AVERAGE SCORE
                        </th>
                        <th>
                          CUM. AVERAGE SCORE
                        </th>
                        <th>
                           SUBJECT COUNT
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        @{sn++;}
                        <td>@sn</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentRegNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AverageScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CummulativeAverageScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectCount)
                        </td>
                        <td>

                            @Html.ActionLink("Details", "StudentResult", new { id = item.Id }, new { @class = "btn btn-primary" })

                        </td>
                    </tr>
                    }

                </table>
            </div>
            <!-- /.box-body -->
            @if (Model.Count() > 0)
            {


            @*<div class="box-body">
                <div class="alert bg-primary">
                    @if (ViewBag.Check == "Not Published")
                    {
                        <h2 style="border-bottom:1px dotted #ffffff;" class="page-header">PUBLISH RESULT</h2>

                        <p> Clicking on the "Publish Result" will enable the students check this session's result online. Before clicking, please make sure that all results has been entered for each of the students in the class.</p><br />
                        using (Html.BeginForm("PublishResult", "Panel", new { classId = ViewBag.ClassId, id = ViewBag.sessId }))
                        {
                            <input type="submit" value="Publish Result" class="btn btn-medium btn-success" />
                        }

                    }
                    else if (ViewBag.Check == "Published")
                    {
                        <h2 style="border-bottom:1px dotted #ffffff;" class="alert bg-primary">UNPUBLISH RESULT</h2>

                        <p> If you click on "Unpublish Result" the students wont be able to check their results online.</p><br />
                        using (Html.BeginForm("UnpublishResult", "Panel", new { classId = ViewBag.ClassId, id = ViewBag.sessId }))
                        {
                            <input type="submit" value="Unpublish Result" class="btn btn-medium btn-warning" />
                        }

                    }
                </div>
            </div>*@
            }
        </div>
        <!-- /.box -->
    </div>
</div>