@using System.Text.RegularExpressions;
@using SchoolPortal.Web.Areas.Service
@helper Truncate(string input, int lenght)
{
    if (input.Length <= lenght)
    {
        @Html.Raw(input)
    }
    else
    {
        @Html.Raw(input.Substring(0, input.IndexOf(" ", lenght)).ToString())
    }
}

@{
    ViewBag.Title = "Profile";
    string ReturnUrl = HttpContext.Current.Request.Url.AbsolutePath;
}

<div class="row">

    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                @using (Html.BeginForm("Upload", "Panel", new { id = ViewBag.student.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
                {
                    <button type="submit" class="profile-user-img img-responsive img-circle">
                        @if (ViewBag.img != null)
                        {

                            <img class="profile-user-img img-responsive img-circle" src="data:image/jpg;base64,@(Convert.ToBase64String(ViewBag.student.Image))" alt="User profile picture">



                        }
                        else
                        {
                            <img class="profile-user-img img-responsive img-circle" src="http://v1.exwhyzee.ng/admin/dist/img/avatar5.jpg" alt="User profile picture">
                        }
                    </button>
                    <p class="text-center">click image to change profile picture</p>
                }
                <h3 class="profile-username text-center">@ViewBag.student.Fullname</h3>

                <p class="text-muted text-center"></p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Class</b>
                        <a class="pull-right">
                            @ViewBag.Class

                        </a>

                    </li>
                    <li class="list-group-item">
                        <b>Number of Subjects</b> <a class="pull-right">@ViewBag.SubjectCount</a>
                    </li>

                </ul>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">


                <p class="text-muted">
                    @ViewBag.student.AboutMe
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">@ViewBag.student.ContactAddress</p>

                <hr>

                @Html.ActionLink("Update Info", "EditUser", new { id = ViewBag.student.Id }, new { @class = "btn btn-primary" })

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        @if (GeneralService.CBTEnable() == true)
        {
            <div class="box" style="padding:7px;">
                <div class="box-header" style="margin-bottom:15px;">
                    <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> My Schedule Examination </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <table id="example1" class="table table-bordered table-hover" border="1">
                        <thead>
                            <tr>
                                <th>S/No</th>
                                <th>Class Name</th>
                                <th>
                                    FullName
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    Session/Term
                                </th>

                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int sno = 0;
                                TimeSpan duration;
                            }
                            @if (ViewBag.data != null)
                            {
                                foreach (var item in ViewBag.data)
                                {
                                    <tr>
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>
                                        <td>@item.ClassName</td>

                                        <td>
                                            @item.FullName
                                        </td>
                                        <td>
                                            @item.Duration Minutes
                                        </td>
                                        <td>
                                            @item.Session - @item.Term
                                        </td>

                                        <td>
                                            @if (ViewBag.defaulter != null)
                                            {
                                                <a href="#" class="btn btn-primary" id="studentModal1">
                                                    Start Exam
                                                </a>
                                            }
                                            else if (item.Status == SchoolPortal.Web.Models.Entities.ExamStatus.NotStarted)
                                            {
                                                using (Html.BeginForm("QuestionSetting", "Panel", FormMethod.Post, new { role = "form" }))
                                                {
                                                    @*@Html.AntiForgeryToken()*@

                                                    <input type="hidden" name="examId" value="@item.Id" />
                                                    <input type="hidden" name="settingId" value="@item.SettingModelId" />

                                                    <button type="submit" class="btn btn-primary">Start Exam</button>

                                                }
                                            }
                                            else if (item.Status == SchoolPortal.Web.Models.Entities.ExamStatus.Started)
                                            {
                                                <!--For Main CBT Site dont delete the commented-->
                                                <a href="http://http://cbt.iskools.com/CbtHall?examinationid=@item.Id" class="btn btn-success">
                                                    Continue
                                                </a>
                                                <!--For Testing Site dont delete the commented-->
                                                @*<a href="http://www.cbttest.iskools.com/CbtHall?examinationid=@item.Id" class="btn btn-success">
                                                        Continue
                                                    </a>*@
                                            }
                                            else if (item.Status == SchoolPortal.Web.Models.Entities.ExamStatus.Completed)
                                            {
                                                <!--For Main CBT Site dont delete the commented-->
                                                <a href="http://http://cbt.iskools.com/CbtHall?examinationid=@item.Id" class="btn btn-success">
                                                    Result Preview
                                                </a>

                                                <!--For Testing Site dont delete the commented-->
                                                @*<a href="http://www.cbttest.iskools.com/CbtHall?examinationid=@item.Id" class="btn btn-success">
                                                        Result Preview
                                                    </a>*@
                                            }

                                        </td>

                                    </tr>


                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center;">No Data Yet!</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        }

        <div>
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @TempData["error"]
                </div>
            }
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @TempData["success"]
                </div>
            }
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">Post/News/Article</a></li>
                <li><a href="#calenda" data-toggle="tab">Calendar</a></li>
                <li><a href="#chat" data-toggle="tab">Chat</a></li>

            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">

                    @Html.Action("_UserPost", "Panel")
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="calenda">
                    <div class="row">
                        <div class="col-md-2">

                            <!-- /. box -->
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Create Event</h3>
                                </div>

                                @using (Html.BeginForm("AddEventpa", "EventStudent", null, FormMethod.Post))
                                {
                                    @*@Html.AntiForgeryToken()*@

                                    <div class="box-body">

                                        <div class="form-group">

                                            <div class="">
                                                @Html.Editor("subject", new { htmlAttributes = new { @class = "form-control", placeholder = "Subject" } })
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="">
                                                @Html.Editor("description", new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="">
                                                @Html.Editor("start", new { htmlAttributes = new { @class = "form-control", id = "datepicker", placeholder = "Start Date" } })
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="">
                                                @Html.Editor("end", new { htmlAttributes = new { @class = "form-control", id = "datepicker1", placeholder = "End Date" } })
                                            </div>
                                        </div>
                                        @*<div class="form-group">

                                                <div class="">
                                                    @Html.Editor("color", new { htmlAttributes = new { @class = "form-control my-colorpicker1", placeholder = "Color" } })
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="">
                                                    @Html.CheckBox("general", new { htmlAttributes = new { @class = "form-control" } }) General Event
                                                </div>
                                            </div>*@
                                        <div class="form-group">

                                            <div class="">
                                                @Html.CheckBox("fday", new { htmlAttributes = new { @class = "form-control" } }) Is Full Day
                                            </div>
                                        </div>


                                    </div>

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Add</button>

                                    </div>

                                }
                            </div>
                        </div>


                        <!-- /.col -->
                        <div class="col-md-10">
                            <div class="box box-primary">
                                <div class="box-body no-padding">
                                    <!-- THE CALENDAR -->
                                    <div id="calendar"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /. box -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="tab-pane" id="chat">

                    <h1><i>Coming Soon...</i></h1>
                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="studentModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<h4 class="modal-title">Access Denied</h4>*@
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon fa fa-ban"></i> Alert!</h4>
                    Access Denied
                </div>
            </div>
            <div class="modal-body">
                <p>You cannot take this examination,please contact the school administrator for more information!</p>
            </div>

        </div>

    </div>
</div>
@section Style {
    <!-- fullCalendar -->
    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts {
    <script src="http://v1.exwhyzee.ng/admin/bower_components/moment/moment.js"></script>
    <script src="http://v1.exwhyzee.ng/admin/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="http://v1.exwhyzee.ng/admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    @*<script src="http://v1.exwhyzee.ng/admin/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>*@
    <!-- DataTables -->
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


}

@section Scripts2 {
    <script>

        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/eventStudent/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Subject,
                            description: v.Description,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            backgroundColor: v.ThemeColor,
                            allDay: v.IsFullDay
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })
            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        today: 'today',
                        month: 'month',
                        week: 'week',
                        day: 'day'
                    },
                    //Random default events
                    events: events,
                    editable: true,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
    </script>
    <script>
        $('.my-colorpicker1').colorpicker()
    </script>

    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}