@model SchoolPortal.Web.Models.Entities.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassLevel.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassLevel.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitionEnds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitionEnds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
