@*@model SchoolPortal.Web.Models.Dtos.PrintResultDto*@
@using SchoolPortal.Web.Areas.Service
@{
    ViewBag.Title = "PrintResult";
    Layout = "~/Areas/Student/Views/Shared/_PrintLayout.cshtml";
}

<div id="test" class="" style="margin-top: 0px; background-image: url();background-attachment:fixed;background-position:center;background-size:600px 600px;background-repeat:no-repeat; ">

    @{
        var res = PrintArchiveService.PrintSingleResult(ViewBag.id);
    }


    <div id="test" class="" style="margin-top: 0px; background-image: url();background-attachment:fixed;background-position:center;background-size:600px 600px;background-repeat:no-repeat; ">

        <div style="padding-top: 7px; padding-bottom: 15px; width: 90%; margin-left: auto; margin-right: auto;">


            <div style="margin-top:0px;">
                @*<h1 style="text-align: center; margin-bottom: 3px; line-height: 1em; color: blue; ;">IMMACULATE CONCEPTION SEMINARY, AHIAEKE.</h1>*@
            </div>
            <h4 style="text-align:center !important; margin:4px !important; margin-bottom: 3px; line-height: 1em; color: blue;">@res.SchoolName</h4>
            <p style="text-align:center;margin:4px !important;">Address: @res.Address | Email: @res.Email </p><h6 style="text-align:center;margin:3px !important;">Website: @res.Website | Phone: @res.Phone</h6>

            <br />

            <div class="row">
                <div class="col-md-3 col-sm-3" id="over" style="">
                    @if (res.SchoolLogo != null)
                    {
                        <img class="" src="data:image/jpg;base64,@(Convert.ToBase64String(res.SchoolLogo))" alt="" style="height:80px; width:60px;margin-left:auto;margin-right:auto;">
                    }
                    else
                    {
                        <img class="" src="http://v1.exwhyzee.ng/admin/dist/img/avatar5.jpg" alt="" style="height:80px; width:60px;margin-left:auto;margin-right:auto;" />

                    }
                </div>
                <div class="col-md-6 col-sm-6">
                    <p style="font-size:1.4em;font-weight:700;text-align:center;margin-top:10px;text-wrap:normal;">@res.SessionTerm</p>
                </div>
                <div class="col-md-3" id="over" style="">
                    @*@if (res.studentImage != null)
                        {
                            <img class="img-circle" src="data:image/jpg;base64,@(Convert.ToBase64String(res.studentImage))" alt="" style="height:100px; width:70px;margin-left:auto;margin-right:auto;"/>
                        }
                        else
                        {*@
                    @*<img class="img-circle" src="http://v1.exwhyzee.ng/admin/dist/img/avatar5.png" style="height:150px; width:100px;margin:0 auto;" alt="" style="height:100px; width:70px;margin-left:auto;margin-right:auto;" />*@

                </div>
            </div>

            <table style="width:100%;">
                <tr style="text-align:center;">
                    <th align="center">
                        <table table-bordered" align="center" style="font-size:7px !important;" border="1">
                            <tr style="border:1px solid;text-align:center;">
                                <th colspan="2">GRADING POINT</th>

                            </tr>
                            @foreach (var asdf in res.GradingDetails)
                            {
                                <tr>
                                    <th style="padding:2px 6px;">@asdf.LowerLimit - @asdf.UpperLimit</th>
                                    <th style="padding:2px 6px;"> @asdf.Remark</th>
                                </tr>
                            }

                        </table>
                    </th>
                    <th>
                        <table style="width:100%;text-align:left;padding-left:10px;text-transform:uppercase !important;font-size:11px;" align="center" class="table-bordered" border="1">
                            <tr style="">
                                <th style="padding-left:10px;width:50%;text-transform:uppercase;">FULL NAME</th>
                                <th style="padding-left:10px;width:50%;">@res.Fullname</th>
                            </tr>
                            <tr>
                                <th style="padding-left:10px;width:50%;">REG. NUMBER</th>
                                <th style="padding-left:10px;width:50%">@res.RegNumber</th>
                            </tr>
                            <tr>
                                <th style="padding-left:10px;width:25%;">CLASS</th>
                                <th style="padding-left:10px;width:25%">@res.ClassName</th>
                            </tr>

                            <tr class="done">
                                <th>

                                    <table style="width:100%;">
                                        <tr>
                                            <td style="padding-left:10px;width:30%;border-right:1px solid #dee2e6;">AVERAGE</td>
                                            <td style="padding-left:10px;width:70%;">@res.Average</td>
                                        </tr>
                                    </table>
                                </th>
                                <th>
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="padding-left:10px;width:50%;border-right:1px solid #dee2e6;">TOTAL</td>
                                            <td style="padding-left:10px;width:50%;">@Math.Round(res.TotalScore ?? 0)/@Math.Round(res.OverallScore ?? 0)</td>

                                        </tr>
                                    </table>
                                </th>
                            </tr>
                            <tr class="done">
                                <th>

                                    <table style="width:100%;">
                                        <tr>
                                            <td style="padding-left:10px;width:50%;border-right:1px solid #dee2e6;">HIGHEST AVERAGE</td>
                                            <td style="padding-left:10px;width:50%;">@res.HighestTotalAverage</td>
                                        </tr>
                                    </table>
                                </th>
                                <th>
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="padding-left:10px;width:50%;border-right:1px solid #dee2e6;">LOWEST AVERAGE</td>
                                            <td style="padding-left:10px;width:50%;">@res.LowestTotalAverage</td>

                                        </tr>
                                    </table>
                                </th>
                            </tr>
                            @if (res.showPosOnClassResult == true)
                            {

                                <tr class="done">
                                    <th>
                                        <table style="width:100%;">
                                            <tr>
                                                <td style="padding-left:10px;width:30%;border-right:1px solid #dee2e6;">POSITION</td>
                                                <td style="padding-left:10px;width:70%;">

                                                    @if (res.Position == 1)
                                                    {
                                                        @res.Position
                                                        <spamp><sup>st</sup></spamp>
                                                    }
                                                    else if (res.Position == 2)
                                                    {
                                                        @res.Position
                                                        <spamp><sup>nd</sup></spamp>
                                                    }
                                                    else if (res.Position == 3)
                                                    {
                                                        @res.Position
                                                        <spamp><sup>rd</sup></spamp>
                                                    }
                                                    else
                                                    {
                                                        @res.Position
                                                        <spamp><sup>th</sup></spamp>
                                                    }


                                                    <span style="text-transform:uppercase">OUT OF</span> @res.TotalStudent @GeneralService.StudentorPupil()S IN CLASS
                                                </td>
                                            </tr>
                                        </table>
                                    </th>
                                    <th>
                                        <table style="width:100%;">
                                            <tr>
                                                <td style="padding-left:10px;width:50%;border-right:1px solid #dee2e6;">REMARK</td>
                                                <td style="padding-left:10px;width:50%;">@res.ResultRemark</td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th style="padding-left:10px;width:25%;">REMARK</th>
                                    <th style="padding-left:10px;width:25%;">@res.ResultRemark</th>
                                </tr>
                            }

                        </table>

                    </th>
                    <th>
                        <table class="table-bordered" align="center" style="font-size:7px !important;" border="1">
                            <tr style="border:1px solid;text-align:center;">
                                <th colspan="2">Cognitive Domain</th>

                            </tr>

                            <tr>
                                <th style="padding:2px 6px;">Analyzing</th>
                                <th style="padding:2px 6px;">@res.RecognitiveDomain.Analyzing</th>
                            </tr>
                            <tr>
                                <th style="padding:2px 6px;">Application</th>
                                <th style="padding:2px 6px;">@res.RecognitiveDomain.Application</th>
                            </tr>
                            <tr>
                                <th style="padding:2px 6px;">Creativity</th>
                                <th style="padding:2px 6px;">@res.RecognitiveDomain.Creativity</th>
                            </tr>
                            <tr>
                                <th style="padding:2px 6px;">Evaluation</th>
                                <th style="padding:2px 6px;">@res.RecognitiveDomain.Evaluation</th>
                            </tr>
                            <tr>
                                <th style="padding:2px 6px;">Rememberance</th>
                                <th style="padding:2px 6px;">@res.RecognitiveDomain.Rememberance</th>
                            </tr>
                            <tr>
                                <th style="padding:2px 6px;">Understanding</th>
                                <th style="padding:2px 6px;">@res.RecognitiveDomain.Understanding</th>
                            </tr>


                        </table>
                    </th>
                </tr>
            </table>
            <h6 class="text-center" style="text-align:center"><span style="border-bottom:1px solid #000000;font-weight:bold;">Result Summary</span></h6>
            @*<h6 class="text-center" style="text-align:center"><span style="border-bottom:1px solid #000000;">Result Summary</span></h6>*@
            @*<table style="width:100%;font-size:0.8125rem !important;" class="table-bordered print-zoom" border="1">*@
            @*<table style="width:100%;font-size:0.8125rem !important;font-weight:300;" class="table-bordered print-zoom" border="1">*@
            <table style="width:100%;font-size:1.12rem !important;font-weight:bold" class="table-bordered print-zoom" border="1">
                <tr>
                    <th>
                        SUBJECT
                    </th>
                    @if (GeneralService.EnabledProjectScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                    {
                        <th>PROJECT</th>
                    }
                    @if (GeneralService.EnabledTestScore() == true && GeneralService.EnabledTestScore2() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                    {
                        <th>1ST TEST</th>
                    }
                    else
                    {
                        <th>C.A</th>
                    }

                    @if (GeneralService.EnabledTestScore2() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                    {
                        <th>2ND TEST</th>
                    }

                    @if (GeneralService.EnabledClassExerciseScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                    {

                        <th>CLASS EXERCISE</th>
                    }

                    @if (GeneralService.EnabledAssessmentScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                    {

                        <th>ASSESSMENT</th>
                    }
                    @if (GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                    {
                        <th>TOTAL C.A</th>


                    }

                    @if (GeneralService.EnabledExamScore() == true)
                    {

                        <th>EXAM</th>
                    }
                    @*<th>C.A</th>
                        <th>EXAM</th>*@
                    <th>TOTAL SCORE</th>
                    <th>HIGHEST SCORE</th>
                    <th>LOWEST SCORE</th>
                    <th>GRADE</th>
                    <th>REMARK</th>
                </tr>
                @*ld

                            ,
                    HighestTotalScore = SubjectRangeInResult(c.Id, c.Enrollments.ClassLevelId).HghestScoreInSubject,
                    LowestTotalScore = SubjectRangeInResult(c.Id, c.Enrollments.ClassLevelId).LowestScoreInSubject,
                *@
                @foreach (var item in res.SubjectList)
                {
                    <tr>
                        <td style="padding:3px;">@item.Subject</td>
                        @if (GeneralService.EnabledProjectScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                        {
                            <td style="padding:3px;">@item.Project</td>
                        }
                        @if (GeneralService.EnabledTestScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                        {
                            <td style="padding:3px;">@item.TestScore</td>

                        }
                        else
                        {
                            <td style="padding:3px;">@item.TestScore</td>
                        }

                        @if (GeneralService.EnabledTestScore2() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                        {
                            <td style="padding:3px;">@item.TestScore2</td>
                        }

                        @if (GeneralService.EnabledClassExerciseScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                        {

                            <td style="padding:3px;">@item.ClassExercise</td>
                        }

                        @if (GeneralService.EnabledAssessmentScore() == true && GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                        {

                            <td style="padding:3px;">@item.Assessment</td>
                        }
                        @if (GeneralService.TotalStudentCAScore(ViewBag.id) != 0)
                        {
                            <td style="padding:3px;">@item.TotalCA</td>
                        }
                        

                        @if (GeneralService.EnabledExamScore() == true)
                        {

                            <td style="padding:3px;">@item.ExamScore</td>
                        }
                        @*<td style="padding:3px;">@item.TestScore</td>
                            <td style="padding:3px;">@item.ExamScore</td>*@
                        <td style="padding:3px;">@item.TotalScore</td>
                        <td style="padding:3px;">@PrintArchiveService.SubjectRangeInResult(res.SessionId, item.SubjectId, item.Enrollments.ClassLevelId).HghestScoreInSubject</td>
                        <td style="padding:3px;">@PrintArchiveService.SubjectRangeInResult(res.SessionId, item.SubjectId, item.Enrollments.ClassLevelId).LowestScoreInSubject</td>
                        <td style="padding:3px;">@item.Grade</td>
                        <td style="padding:3px;">@item.Remark</td>
                    </tr>
                }
            </table>
            <hr style="border:2px solid #000000" />
            @*<p styel="font-weight:normal">Resumption date:<strong> 13/1/2019 on or before 5.00pm</strong>.School Fees:<strong> #32,500</strong>.Principal's Remark:<strong> Merry Christmas and a prosperous new year</strong>.</p>*@

            <div style="float:right;margin-top:10px;text-align:right;padding-right:5px;">
                @if (res.SchoolLogo != null)
                {
                    <img class="" src="data:image/jpg;base64,@(Convert.ToBase64String(res.SchoolStamp))" alt="" style="height:60px;width:100px;">
                }
                else
                {

                }

                <h6 style="margin-bottom:1px;padding-bottom:2px;">@res.headteacher</h6>
                <h6 style="margin-top:2px;padding-top:2px;line-height:1.4px;">@GeneralService.HeadteacherOrPrincipal()</h6>
            </div>
            @*<div class="">
                    <h5>@GeneralService.HeadteacherOrPrincipal()'s Remark </h5>
                    <p style="border-bottom:1px solid #000000;padding-bottom:3px;width:70%;">@res.EnrollmentRemark</p>
                </div>*@

        </div>
    </div>


    <br clear="all" style="page-break-before:always" />
    @if (res.ShowNewsletterPage == true)
    {
        <div id="test" class="" style="margin-top: 0px; background-image: url();background-attachment:fixed;background-position:center;background-size:600px 600px;background-repeat:no-repeat; ">
            <div id="test" class="" style="margin-top: 0px; background-image: url();background-attachment:fixed;background-position:center;background-size:600px 600px;background-repeat:no-repeat; ">

                <div style="padding-top: 7px; padding-bottom: 15px; width: 90%; margin-left: auto; margin-right: auto;">


                    <div style="margin-top:0px;">
                        @*<h1 style="text-align: center; margin-bottom: 3px; line-height: 1em; color: blue; ;">IMMACULATE CONCEPTION SEMINARY, AHIAEKE.</h1>*@
                    </div>
                    <h4 style="text-align:center !important; margin:4px !important; margin-bottom: 3px; line-height: 1em; color: blue;">@res.SchoolName</h4>
                    <p style="text-align:center;margin:4px !important;">Address: @res.Address | Email: @res.Email </p><h6 style="text-align:center;margin:3px !important;">Website: @res.Website | Phone: @res.Phone</h6>

                    <br />

                    <div class="row">
                        @Html.Raw(res.NewsletterContent)
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="clearfix"></div>
<div class="text-center">
    <button onclick="myFunction()" style="text-align:center;" class="btn btn-primary">Print Result</button>

</div>
<script type="text/javascript">


    //function printSelection(node) {

    //    var content = node.innerHTML
    //    var pwin = window.open('', 'print_content', 'width=21cm,height=29.7cm');

    //    pwin.document.open();
    //    pwin.document.write('<html><body onload="window.print()">' + content + '</body></html>');
    //    pwin.document.close();

    //    setTimeout(function () { pwin.close(); }, 1000);

    //}


    function myFunction() {
        window.print();
    }


</script>









